#header {
	padding: 20px;
}

#header img {
	width: 150px;
}

#header a {
	width: 100px;
	padding: 0.5em 1em 0.5em 1em;
	background: darkBlue;
	border: 1px solid darkBlue;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
}

#chat {
	height: 2em;
	padding: 0.25em 1em 0.25em 1em;
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: white;
	border: 1px solid black;
}

#chat img {
	width: 1em;
}

#chatbox {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-bottom: 2em;
	background-color: white;
	width: 20em;
	height: 10em;
	border: 1px solid black;
	visibility: hidden;
}

#chatMsgs {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	height: 6.5em;
	overflow-y: auto
}

#chatMsgs div,
#chatInputBox {
	margin: 1em;
}
