:root {
    --bg-color: #000070;
    --accent-color: #F0F0FF;
    --txt-color: #FFFFFF;
}

.pageHeader {
    background-color: var(--bg-color);
    margin: -1.5em;
    padding-bottom: 0.5em;
}

.pageHeader h1 {
    color: var(--txt-color);
    font-size: 24pt;
    vertical-align: middle;
}

img {
    height: 5em;
    width: 6em;
    padding: 0.5em;
    vertical-align: middle;
}

.navigation {
    display: inline;
    list-style: none;
}

.navigation a {
    color: var(--accent-color);
    font-size: 14pt;
    padding-left: 5em;
    text-decoration: none;
}

.header {
    background-color: var(--bg-color);
}

.header h2 {
    color: var(--txt-color);
    font-size: 14pt;
    margin-bottom: 0.0em;
    margin-top: 2em;
    padding: 0.2em;
    padding-left: 1em;
}

.body {
    background-color: var(--accent-color);
    border: 2px solid var(--bg-color);
    padding: 1em;
}

.body p {
    margin-top: 0;
}

.body ul li {
    display: inline;
    list-style: none;
    align-content: center;
    margin: 1em;
}

section {
    margin-bottom: 1em;
}

#calender {
    margin-top: 2em;
}

#month,
#calender table tr:nth-of-type(2) {
    text-align: center;
}

#calender table tr:nth-of-type(n+3):nth-of-type(odd) td {
    text-align: right;
    padding-right: 0.2em;
}

#calender table tr:nth-of-type(n+3):nth-of-type(even) td {
    height: 6em;
    text-align: center;
    vertical-align: middle;
}

#form {
    margin-top: 1em;
}